html, body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  background-color: rgba(155,155,155,.5);
  overflow: hidden;
}

/*.container {
  height: 800px;
  width: 90%;
  align-items: center;
  text-align: center;
  overflow: hidden;
}*/
.game-area {
  display: flex;
  justify-content: center;
  background-color: rgba(232,233,232,0.6);
  border-radius: 50px;
  margin: 10px;
  height: 80%;
  width: 80%;
  margin:0 auto;
  border: #000 2px solid;
  overflow: hidden;

}
.box {
  position: absolute;
  top: 10px;
  height:50px;
  width: 50px;
  background: rgba(240, 41, 52, 0.6);
  margin: 0 60px;
  padding:30px;
  border: #000 2px solid;
  border-radius: 50%;
  text-align: center;
  font-size: 27px;
}

.inputs-div {
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}
#start-button {
background-color: rgba(240, 41, 52, 0.6);

}
#submit {
  background-color: rgba(149,212,155,0.6);
}
#answer {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  height:100px;
  width:200px;
  border: #000 2px solid;
}
.inputs {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: #000 2px solid;
  font-size: 27px;
}
.img {
max-width:100%;
max-height:100%;
margin: auto;
display:block;

/*}
.scoreboard {
height: 25%;
width:200px;
flex-direction: row;
border: #000 1px solid;*/



}
