html, body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  background-color: rgba(155,155,155,.5);
  overflow: hidden;
}

.stopwatch {
  box-sizing: border-box;
  margin:10px;
  height: 300px;
  width: 30%;
  float:left;
  padding: 20px;
  /*align-items: center;
  text-align: center;
  overflow: hidden;*/
  background-color: rgba(232,233,232,0.6);
  border: #000 2px solid;
  border-radius: 50px;
  box-shadow: 5px 10px 5px #888888;
}
.game-area {
  box-sizing: border-box;
  float: left;
  justify-content: center;
  background-color: rgba(232,233,232,0.6);
  border-radius: 50px;
  margin: 10px;
  height: 600px;
  width: 65%;
  margin: 10px;
  border: #000 2px solid;
  /*Box shadow tutorial found at https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
  box-shadow: 5px 10px 5px #888888

}
.box {
  position: absolute;
  height:40px;
  width: 40px;
  background: rgba(240, 41, 52, 0.6);
  margin: 0 40px;
  padding:30px;
  border: #000 2px solid;
  border-radius: 50%;
  text-align: center;
  font-size: 27px;
}


#start-button {
background-color: rgba(240, 41, 52, 0.6);

}
#submit {
  background-color: rgba(149,212,155,0.6);
}
#answer {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  height:100px;
  width:200px;
  border: #000 2px solid;
}
.inputs {
  float:left;
  height: 100px;
  width: 100px;
  margin: 5px;
  border-radius: 50px;
  border: #000 2px solid;
  font-size: 27px;
  text-align: center;
  box-shadow: 5px 10px 5px #888888;
}
